﻿@{
    ViewData["Title"] = "Home Page";
}


@model IEnumerable<NoteModel>

@{
    ViewData["Title"] = "My Doctor's Notes";
}


<div class="index">
    @if (Model.Any())
    {
        <div class="panel panel-default index__header">
            <h3 class="panel-body">
                Your Notes Here
            </h3>
        </div>

        @foreach (NoteModel note in Model.Reverse())
        {
            <div class="panel panel-default">
                <a asp-action="NoteDetail" asp-route-id="@note.Id" class="index__list-item-link">
                    <div class="panel-body">
                        @note.Subject
                    </div>
                </a>
            </div>

        }
    }
    else
    {

        <div class="panel panel-default index__empty-list">
            <h3 class="panel-body">
                Empty List.
            </h3>
        </div>
    }

    <div class="index__new-note-button-wrapper">
        <a asp-action="NoteEditor" class="index__new-note-button">Click to create note</a>
    </div>
</div>


<br />
<br />

<!--
<br />
<br />



    <div class="row">

        <div class="col-md-4">
            <h2>Application uses</h2>
            <ul>
                <li>Sample pages using ASP.NET Core MVC</li>
                <li>More information here</a></li>
            </ul>
        </div>

        <div class="col-md-4">
            <h2>Client uses</h2>
            <ul>
                <li>SHA Clients</li>
                <li>RUH</a></li>
                <li>SPH</a></li>
                <li>City</a></li>
            </ul>
        </div>


        <div class="col-md-4">
            <h2>Quapelle uses</h2>
            <ul>
                <li>Pasqua Clients</li>
                <li>General</a></li>
                <li>Others</a></li>

            </ul>
        </div>

    </div>

    -->



<!--
<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div> -->
