﻿@model NoteModel

@{

  @if (Model != null && Model.Id != Guid.Empty)
  {
    ViewData["Title"] = "Edit Note";

  }
  else
  {
    ViewData["Title"] = "Create New Note";
  }

}


<div class="note-editor">
    <div class="panel panel-default note-editor__panel">
        <div class="panel-heading note-editor__header">
            <h1 class="panel-title note-editor__panel-title">
                @if (Model != null && Model.Id != Guid.Empty)
        {
                <span>Edit Your Note</span>
        }
        else
        {
                <span>Create New Note</span>
        }
            </h1>
        </div>

        <!-- DR AY - POST ACTION IN THE CONTROLLER -->
        <!--// Dr AY - You can post to create new or edit existing note !! -->

        <form asp-action="NoteEditor" method="post">
            <div class="panel-body note-editor__panel-body">

                <div asp-validation-summary="All"></div>

                <div class="form-group">
                    <label class="note-editor__input-label" asp-for="Subject">Subject</label>
                    <input class="form-control note-editor__subject-input" asp-for="Subject" />
                </div>

                <div class="form-group">
                    <label class="note-editor__input-label" asp-for="Detail">Your Note</label>
                    <textarea class="form-control note-editor__detail-input" asp-for="Detail" id="TextArea" rows="12" cols="20"></textarea>
                </div>
            </div>


            <div class="panel-footer">
                <div class="note-editor__flex-container">
                    @if (Model != null && Model.Id != Guid.Empty)
          {
                    <a class="btn btn-sm note-editor__button" asp-action="NoteDetail" asp-route-id="@Model.Id">Cancel</a>
          }
          else
          {
                    <a class="btn btn-sm note-editor__button" asp-action="Index">Cancel</a>
          }

                    <button class="btn btn-sm note-editor__button" type="submit">Save Note</button>
                </div>
            </div>
        </form>
    </div>
</div>
